# Environment variables and secrets
.env

# Python virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Local database
*.db

# Chroma local database
#chroma_db/

# VS Code settings
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db